@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary-900: 42, 58, 252, 1;
    --primary-800: 63, 102, 251, 1;
    --primary-700: 81, 137, 247, 1;
    --primary-600: 58, 153, 241, 1;
    --primary-500: 98, 198, 255, 1;

    --accent-500: 251, 73, 73, 1;
    --accent-700: 255, 77, 79, 1;
    --accent-800: 251, 73, 73, 1;
    --accent-900: 254, 46, 0, 1 ;

    --success-900: 30, 97, 30, 1;
    --success-800: 45, 145, 45, 1;
    --success-700: 61, 193, 60, 1;
    --success-600: 157, 224, 157, 1;
    --success-500: 206, 239, 106, 1;

    --warning-900: 122, 93, 13, 1;
    --warning-800: 182, 140, 20, 1;
    --warning-700: 243, 187, 27, 1;
    --warning-600: 249, 221, 141, 1;
    --warning-500: 252, 238, 198, 1;

    --error-900: 67, 13, 15, 1;
    --error-800: 181, 40, 45, 1;
    --error-700: 233, 79, 84, 1;
    --error-600: 248, 154, 157, 1;
    --error-500: 251, 205, 207, 1;

    --text-base: 29, 45, 53, 1;
    --input-border: 0, 0, 0, 0.1;

    /* Height */

    --header-height: 157px;
  
    /* width */
    --sidebar-width: 343px;


  }
}


