.rbc-event {
  background-color: transparent;
  padding: 0;
  border: none !important;
}

.rbc-event.rbc-selected {
  background-color: transparent;
  border: none;
}
.rbc-row-content {
  height: 100%;
  border: none;
}

.rbc-event-label {
  color: #1d2d35;
  padding-right: 2px;
  padding-left: 2px;
  display: none;
}

.rbc-active {
  background: #2a3afc !important;
  color: #ffffff !important;
}

.rbc-allday-cell {
  background: #ffffff;
}

.rbc-btn-group:nth-child(1){
  display: none;
}

.rbc-toolbar-label{
  display: none;
}

.rbc-toolbar{
  display: flex;
  justify-content: flex-end;
}
